<img class="myImage" src="/assets/images/404.png">

<h4 class="center">
  Oh no!! qualche super cattivo deve aver rubato questa pagina,
  <a routerLink="/heroes">
    torna alla Home Page
  </a>
</h4>