<div class="center">

  <h1>Scheda eroe</h1>
  <i class="material-icons" id="sortButton" (click)="sortByName()" value="a-z">
    sort_by_alpha
  </i>
  <a routerLink="/heroes">
    <h3>❮ Indietro</h3>
  </a>
  <div *ngIf="hero">
    <mat-accordion>
      <mat-expansion-panel class="coloreChiaro" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>{{hero.name}}</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput [(ngModel)]="hero.email" [formControl]="email" placeholder="Email" value="{{hero.email}}"
            name="email">
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        <button mat-button (click)="updateEmail(hero)">Modifica e-mail</button>
      </mat-expansion-panel>
    </mat-accordion>

    <div *ngFor="let ability of hero.listAbility">
      <mat-accordion>
        <mat-expansion-panel class="coloreChiaro">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Potere: {{ability.name}}
            </mat-panel-title>
            <i matTooltip="Elimina dall'eroe" style="margin-right: 20px;" id="delete" class="material-icons" (click)="deleteAbility(hero.id, ability.id)">delete_forever</i>
          </mat-expansion-panel-header>
          <mat-panel-description>
            Descrizione: {{ability.description}}
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel class="coloreChiaro" (click)="getListAbility()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Aggiungi Potere</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span *ngFor="let ability of abilityNotOwned">
        <p>{{ability.name}}
          <i matTooltip="Aggiungi all'eroe" class="material-icons" id="add" (click)="addAbilityToHero(hero.id, ability.id)">
            add
          </i>
          <i matTooltip="Elimina potere" class="material-icons" id="delete" (click)="deleteAbilityFromDb(ability.id, ability.name)">
            delete_forever
          </i>
        </p>
      </span>

      <i *ngIf="duplicateAbility" class="material-icons" id="warning" matTooltip="Abilità già presente">
        error
      </i>
      
      <form #ability="ngForm" (submit)="addAbilityToDb(ability.name, ability.description, hero.id)">
        <mat-form-field>
          <input matInput [(ngModel)]="ability.name" [formControl]="potere" placeholder="Potere" name="potere">
          <mat-error *ngIf="potere.invalid">{{getErrorMessagePotere()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="ability.description" [formControl]="descrizione" placeholder="Descrizione" name="descrizione">
          <mat-error *ngIf="descrizione.invalid">{{getErrorMessageDescription()}}</mat-error>
        </mat-form-field>
        <mat-action-row>
          <button mat-button type="submit">Aggiungi Potere</button>
        </mat-action-row>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>