mat-expansion-panel {
    width: 100%;
  }

  .coloreChiaro{
      background-color: #EEE;
  }

  .coloreScuro{
    background-color: #607D8B;
    color:white;
}

h1, h2, h3{
    color: #607D8B;
    display: inline-block
}

button{
    margin-left: 15px;
}

a{
    float: right;
    margin-top: 10px;
}

#sortButton {
    display: inline-block;
    margin-top: 30px;
    margin-left: 80px;
    color: #607D8B;
    &:hover{
        cursor: pointer;
    }
}

#delete {
    float: right;
    margin-right: 5px;
     color: #607D8B;
    &:hover{
       color: red;
       cursor: pointer;
     }
  }

  #add {
    float: right;
    margin-right: 5px;
     color: #607D8B;
    &:hover{
       color: rgb(37, 255, 29);
       cursor: pointer;
     }
  }

  .center {
    margin: auto;
    width: 80%;
    border: 3px;
    padding: 10px;
}

#warning{
    color: red;
    cursor: help;
  }