<div class="margin">
  <h2>My Heroes</h2>

  <form class="search-form">
    <div class="search-div">
      <mat-form-field class="example-full-width">
        <input class="example-form" (click)="filter()" type="text" placeholder="Cerca" aria-label="Number" matInput
          [formControl]="myControl" [matAutocomplete]="auto" #searchHero>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let hero of filteredOptions | async" [value]="hero.name">
            {{hero.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="search-div-button">
      <button mat-button class="search-button" routerLink="/search/{{searchHero.value}}">
        <i class="material-icons">
          search
        </i>
      </button>
    </div>
  </form>

  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <span routerLink="/detail/{{hero.id}}" matTooltip="Visualizza {{hero.name}}">
        <span class="badge">{{hero.id}}</span>{{hero.name}}
        <span *ngIf="hero.email"> | {{hero.email}}</span>
      </span>
      <span><i matTooltip="Elimina eroe" id="delete" class="material-icons" (click)="delete(hero.id, hero.name)">delete_forever</i></span>
    </li>
  </ul>

  <br><br>

  <h3>Aggiungi un nuovo eroe</h3>
  <i *ngIf="duplicateName" class="material-icons" id="warning" matTooltip="Eroe già presente">
    error
  </i>
  <form id="addForm" class="example-form form-validate" #hero="ngForm" (submit)="add(name.value, email.value);">
    <mat-form-field class="example-full-width" style="display:inline">
      <input matInput [formControl]="nameHero" placeholder="Nome Eroe" #name required>
      <mat-error *ngIf="nameHero.invalid">{{getErrorMessageName()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [formControl]="emailHero" placeholder="E-mail Eroe" #email>
      <mat-error *ngIf="emailHero.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
    <button mat-button type="submit">Aggiungi Eroe</button>
  </form>
</div>